* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: chocolate;
    font-size: large;
    font-weight: bold;
}

.icon img {
    height: 50px;
}